body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.head-container {
  background-color: #1f2937;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
}

.container-1 {
  display: flex;
  margin: 100px 0px;
  justify-content: space-between;
}
.content-1 {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.content-2 {
  flex-shrink: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: gray;
}
.text-1 {
  width: 400px;
  height: auto;
  flex-grow: 1;
  flex-shrink: 1;
}
/* .button {
  flex-grow: 1;
} */

.button button {
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;
  color: #f9faf8;
  font-weight: 900;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}
a,
.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.header {
  display: flex;
  padding: 10px 0px;
  flex-shrink: 0;
}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
  flex: 1;
  justify-content: end;
  gap: 20px;
}

a {
  text-decoration: none;
}
img {
  width: auto;
  height: 221px;
}

.information-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 100px 100px;
}
.text-2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
}
.container-2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-shrink: 1;

  flex-grow: 1;
}

.cards {
  display: flex;
  flex-direction: column;

  min-width: 0;
}
.box {
  width: 160px;
  height: 150px;
  min-width: 0;
  border: 2px solid #3882f6;
  border-radius: 16px;

  flex-shrink: 1;
}
.text-3 {
  margin-top: 10px;
  text-align: center;
  width: 160px;
}
.quote-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: #e5e7eb;
}
.quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}
.author {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}
.bottom-container {
  display: flex;
  padding: 100px 100px;
}
.signup {
  display: flex;
  flex: 1;
  background-color: #3882f6;
  border-radius: 8px;
  align-items: center;
  min-height: 0;
}
.text-4 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 30px 100px 30px 90px;
}
.bottom-heading {
  font-size: 22px;
  font-weight: 700;
  color: white;
  padding: 0px;
  margin: 0px;
}
.bottom-text {
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

.button-2 {
  display: flex;
  flex-shrink: 0;

  padding: 30px 100px;
  height: auto;
}
.button-2 button {
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  padding: 5px 20px;
}
.footer {
  padding: 30px 100px;
  font-size: 15px;
  color: white;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}
